<div class="health">
<div class="healthWorks main-rt-content list img-list">
    <%postList.forEach(function(item){%>
        <div class="item">
            <img class="img" src="<%= item.imgUrl%>" alt="">
            <p><%= item.title%></p>
        </div>
    <%})%>
</div>
</div>