<script src="https://cdn.bootcss.com/echarts/3.5.0/echarts.min.js"></script>
<script src="/javascripts/guangdong.js"></script>
<div id="main" style="width:800px;height:800px;z-index:1;position:absolute;top:200px; left: 500px"></div>
<script>
    var myChart = echarts.init(document.getElementById('main'));
    var option = {
        series : [
            {
                name: '广东地图',
                type: 'map',
                mapType: '广东',
                selectedMode : 'single',
                itemStyle:{
                    normal:{label:{show:true}},
                    emphasis:{label:{show:true}}
                }
            }
        ]
    };
    myChart.on("click", function (param){
       console.log(param)
       $.get('/netWorkArticleId?place='+param.name,function(result){
       		console.log(result);
       		window.location.href= "/jkcj/58e44143e67f6303b969c8ef?pid="+result._id;
       })
        // window.location.href= "healthNetworkContent.html";
    })
    myChart.setOption(option);
</script>