<div class="platform">
  <div class="main-rt-content">
     <div class="tabs">
         <a class="tab active" href="javascript:void(0)">
             科研队伍
         </a>
         <a class="tab" href="javascript:void(0)">
             科研项目
         </a>
     </div>
     <div class="tab-content" id="team">
     </div>
     <div class="tab-content" style="display: none">
         <div class="list" id="item">
         </div>
     </div>
  </div>
</div>
<script type="text/javascript">
  //科研项目
  function loadTeam(){

    $.get('/scientificTeam',function(result){
      if(result.status == 1){
        $('#team').append(result.datas.article)
      }
    })
  }

  function loadItem(){
    $.get('/scientificItem',function(result){
      if(result.status == 1){
        var string = '';
        var datas = result.datas;
        var length = result.datas.length;
        for(var i=0;i<length;i++){
          string+='<a class="item" href="javascript:void(0)">'+datas[i].title+'<span class="time rt">'+datas[i].publishDate+'</span></a>';
        }
        $('#item').append(string);
      }
    })
  }
  loadTeam();
  loadItem();
</script>