<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>广东省结核病控制中心</title>
    <link rel="Shortcut Icon" href="../public/images/logo_sm.png">
    <link rel="stylesheet"  href="../public/css/index.css"/>
</head>
<body>
<div class="top bgc-jf">
    <div class="top-box">
        <div class="rt color-white">
            <a href="app">微门户</a>
            <a href="javascript:void(0)">RSS订阅</a>
            <a href="javascript:void(0)" class="share">分享</a>
        </div>
    </div>
</div>
<!--页面顶部 Begin-->
<div class="header">
    <div class="header-center">
        <a class="logo" href="javascript:void(0)">
            <img src="../public/images/logo.png" alt="">
        </a>
        <form class="header-search rt">
            <label>
                <input class="search" placeholder="请输入关键字">
            </label>
        </form>
    </div>
</div>
<!--end:header 头部-->
<div class="nav">
    <ul class="nav-list">
        <li><a href="index.html">首页</a></li>
        <li>
            <a href="center.html">中心管理系统 </a>
            <ul class="nav-sub-list">
                <li>
                    <a href="javascript:void(0)">OA系统</a>
                </li>
                <li>
                    <a href="javascript:void(0)">培训管理系统</a>
                </li>
                <li>
                    <a href="javascript:void(0)">财务管理系统</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="policy.html">政策发布</a>
            <ul class="nav-sub-list">
                <li>
                    <a href="javascript:void(0)">结核病防治规则</a>
                </li>
                <li>
                    <a href="javascript:void(0)">结核病工作规范</a>
                </li>
                <li>
                    <a href="javascript:void(0)">结核病诊断规则</a>
                </li>
                <li>
                    <a href="javascript:void(0)">其他法律法规</a>
                </li>
                <li>
                    <a href="javascript:void(0)">传染病防治相关法规</a>
                </li>
                <li>
                    <a href="javascript:void(0)">中心相关管理制度</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="diagnosis.html">
                诊疗服务
            </a>
        </li>
        <li>
            <a href="train.html">
                科研培训
            </a>
        </li>
        <li>
            <a href="info.html">
                信息公开
            </a>
        </li>
        <li>
            <a href="health.html">
                健康促进
            </a>
        </li>
        <li>
            <a href="association.html">
                防痨协会
            </a>
        </li>
    </ul>
</div>
<div class="main subPage error">
    <div class="error-box">
        <a class="btn" href="index.html"></a>
    </div>
</div>
<!--end:main 主要内容-->
<div class="footer bgc-jf color-white">
    <div class="copyright tac">
        <img src="/images/footer-lf.png" class="copyright-img lf">
        <div class="lf copyright-info">
            <div>Copyright © 2017 Immortalshealth All Rights Reserved</div>
            <div>主办： 广东省结核病控制中心<span class="technology">技术支持：<a class="immortalshealth" href="http://www.immortalshealth.com">广东医睦科技有限公司</a></span></div>
        </div>
    </div>
</div>
<!--end:footer-->
<script src="../js/index.js" type="text/javascript"></script>
</body>
</html>