<div class="main-rt-content">
    <form class="form">
        <div class="form-group">
            <label class="form-label">
                <span class="form-text">投稿主题：</span><input class="form-input">
            </label>
        </div>
        <div class="form-group">
            <label class="form-label">
                <span class="form-text">作者名字：</span><input class="form-input">
            </label>
        </div>
        <div class="form-group">
            <label class="form-label">
                <span class="form-text">联系方式：</span><input class="form-input">
            </label>
        </div>
        <div class="form-group">
            <label class="form-label">
                <span class="form-text">通讯地址：</span><input class="form-input">
            </label>
        </div>
        <div class="form-group">
            <label class="form-label">
                <span class="form-text">电子邮箱：</span><input class="form-input">
            </label>
        </div>
        <div class="form-group">
            <label class="form-label">
                <span class="form-text">上传文件：</span>
                <a class="form-file" href="">上传附件
                    <input type="file">
                </a>
                未选择任何文件
            </label>
        </div>
        <div class="btn-group">
            <button onClick="submitFn()" class="btn color-white bgc-blue">提交</button>
        </div>
    </form>
</div>