<% include ./common/header %>
<div class="main construction content-full">
    <img class="content-img" src="/images/construction.png" alt="">
</div>
<!--end:main 主要内容-->
<div class="footer bgc-jf color-white footer-bottom">
    <div class="copyright tac">
        copyright © 2017 结防所
    </div>
</div>
<!--end:footer-->