<% include ./common/header %>
<% include ./common/nav %>
<div class="main subPage">
    <div class="main-box article">
        <div class="main-content lf">
            <div class="article-time">发布时间：<%= post.publishDate%></div>
            <div>
                <h3 class="article-title"><%= post.title%></h3>
                <p><%- post.content%>
                </p>
            </div>
        </div>
    </div>
</div>
<script>
    $(function() {
        if ($(".top").height() + $(".header").height() + $(".nav").height() + $(".main").height() + $(".footer").height() < $(document).height()) {
            $(".footer").css({position: "absolute", bottom: 0, width: "100%"})
            $(".main").css({position: "absolute", top: "172px", bottom: "37px", width: "100%", overflow: "hidden"})
        }
    })
</script>
<!--end:main 主要内容-->
<% include ./common/footer%>