<% include ./common/header %>
<% include ./common/nav %>
<div class="main subPage">
    <div class="main-box">
    	<h3 class="main-rt-title">
            <p class="title-text">搜索结果</p>
        </h3>
        <div class="list">
        	<% if(result){ %>
        		<% result.forEach(function(item){%>
            		<a class="item" href="/post/<%= item._id%>"><%= item.title%> <span class="time rt"><%= item.publishDate%></span></a>
            	<%})%>
            <%}%>
        </div>
    </div>
</div>
<script>
    $(function() {
      if ($(".top").height() + $(".header").height() + $(".nav").height() + $(".main").height() + $(".footer").height() < $(document).height()) {
            $(".footer").css({position: "absolute", bottom: 0, width: "100%"})
            $(".main").css({position: "absolute", top: "172px", bottom: "37px", width: "100%", overflow: "hidden"})
        }
    })
</script>
<% include ./common/footer%>