<% include ./common/header %>
<div class="wUser content-full"></div>
<!--end:main 主要内容-->
<div class="footer bgc-jf color-white footer-bottom">
    <div class="copyright tac">
        广东省结核病控制中心（技术支持：<a class="immortalshealth" href="http://www.immortalshealth.com">医睦科技</a>）
    </div>
</div>