<% include ./common/header %>
<div class="wUser content-full"></div>
<!--end:main 主要内容-->
<div class="footer bgc-jf color-white footer-bottom">
    <div class="copyright tac">
        copyright © 2017 结防所
    </div>
</div>