<% include ./common/header %>
<% include ./common/nav %>
<div class="main subPage">
    <div class="main-box">
    	<h3 class="main-rt-title">
            <p class="title-text">搜索结果</p>
        </h3>
        <div class="list">
        	<% if(result){ %>
        		<% result.forEach(function(item){%>
            		<a class="item" href="/post/<%= item._id%>"><%= item.title%> <span class="time rt"><%= item.publishDate%></span></a>
            	<%})%>
            <%}%>
        </div>
    </div>
</div>
<% include ./common/footer%>