<div class="main-rt-content">
    <form class="form">
        <div class="form-group">
            <label class="form-label">
                <span class="form-text">姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名：</span><input class="user form-input" type="text" placeholder="请填写姓名">
            </label>
            <div class="prompt">
                <span class="edge"><s class="fill"></s></span>
                <span class="prompt-text">请填写姓名</span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-label">
                <span class="form-text">联系方式：</span><input class="contact form-input" type="text" placeholder="请填写联系方式">
            </label>
            <div class="prompt">
                <span class="edge"><s class="fill"></s></span>
                <span class="prompt-text">请填写联系方式</span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-label">
                <span class="form-text">联系地址：</span><input class="site form-input" type="text"  placeholder="请填写联系地址">
            </label>
            <div class="prompt">
                <span class="edge"><s class="fill"></s></span>
                <span class="prompt-text">请填写联系地址</span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-label">
                <span class="form-text">电子邮箱：</span><input type="text" class="email form-input"  placeholder="请填写电子邮箱">
            </label>
            <div class="prompt">
                <span class="edge"><s class="fill"></s></span>
                <span class="prompt-text">请填写电子邮箱</span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-label">
                <span class="form-text">主&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;题：</span><input class="theme form-input" type="text" placeholder="请填写主题">
            </label>
            <div class="prompt">
                <span class="edge"><s class="fill"></s></span>
                <span class="prompt-text">请填写主题</span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-label">
                <span class="form-text">投诉内容：</span>
                <textarea class="textarea form-input" cols="30" rows="10"  placeholder="请填写投诉内容"></textarea>
            </label>
            <div class="prompt">
                <span class="edge"><s class="fill"></s></span>
                <span class="prompt-text">请填写投诉内容</span>
            </div>
        </div>
        <div class="btn-group">
            <button class="btn color-white bgc-blue" type="button">提交</button>
        </div>
    </form>
    <div class="popup-succeed">
        <img class="succeed-img" src="/images/successful.png" alt="">
        <div class="succeed-content">提交成功</div>
        <div class="succeed-btns">
            <a class="btn bgc-gray" href="javascript:void(0)">返回上一页</a>
            <a class="btn"  href="/">返回首页</a>
        </div>
    </div>
    <script type="text/javascript">
        function subDoc(){
            $.ajax({
                url:'/feedback',
                method:'POST',
                data:{
                    user:$('.user').val(),
                    contact:$('.contact').val(),
                    address:$('.site').val(),
                    email:$('.email').val(),
                    title:$('.theme').val(),
                    content:$('.textarea').val()
                },
                success:function(res){
                    if(res.status == 1){
//                        alert(res.message);
                    }
                }
            })
        }
    </script>
</div>