<div class="main-rt-content health">
    <form class="form">
        <div class="form-group">
            <label class="form-label">
                <span class="form-text">投稿主题：</span><input class="title form-input">
            </label>
        </div>
        <div class="form-group">
            <label class="form-label">
                <span class="form-text">作者名字：</span><input class="user form-input">
            </label>
        </div>
        <div class="form-group">
            <label class="form-label">
                <span class="form-text">联系方式：</span><input class="contact form-input">
            </label>
        </div>
        <div class="form-group">
            <label class="form-label">
                <span class="form-text">通讯地址：</span><input class="address form-input">
            </label>
        </div>
        <div class="form-group">
            <label class="form-label">
                <span class="form-text">电子邮箱：</span><input class="email form-input">
            </label>
        </div>
        <div class="form-group">
            <label class="form-label">
                <span class="form-text">上传文件：</span>
                <a class="form-file" href="">上传附件
                    <input type="file" onChange="uploadFile()" id="uploads">
                </a>
                <span class="file-name">未选择任何文件</span>
            </label>
        </div>
        <div class="btn-group">
            <button type="button" onClick="subDoc()" class="btn color-white bgc-blue">提交</button>
        </div>
    </form>
    <script type="text/javascript">
    	var __FILE__ = null;
	    function uploadFile(){
	    	if(!$('#uploads')[0].files.length) return false;
	    	var file = new FormData();
	    	file.append('upload',$('#uploads')[0].files[0]);
	    	$.ajax({
	    		url:'/uploads',
	    		method:'POST',
	    		data:file,
	    		processData:false,
	    		contentType:false,
	    		success:function(res){
	    			__FILE__ = res.datas.id;
	    			$('.file-name').text(res.datas.name);
	    		}
	    	})
	    }
	    function subDoc(){
	    	if(!__FILE__) return false;
	    	$.ajax({
	    		url:'/docs',
	    		method:'POST',
	    		data:{
	    			title:$('.title').val(),
	    			user:$('.user').val(),
	    			contact:$('.contact').val(),
	    			address:$('.address').val(),
	    			email:$('.email').val(),
	    			file:__FILE__
	    		},
	    		success:function(res){
	    			console.log(res);
	    		}
	    	})
	    }
    </script>
</div>
