<div class="main-rt-content health">
    <form class="form">
        <div class="form-group">
            <label class="form-label">
                <span class="form-text">投稿主题：</span><input class="theme form-input" placeholder="请填投稿主题">
            </label>
            <div class="prompt">
                <span class="edge"><s class="fill"></s></span>
                <span class="prompt-text">请填写投稿主题</span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-label">
                <span class="form-text">作者名字：</span><input class="user form-input"  placeholder="请填写作者名字">
            </label>
            <div class="prompt">
                <span class="edge"><s class="fill"></s></span>
                <span class="prompt-text">请填写作者名字</span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-label">
                <span class="form-text">联系方式：</span><input class="contact form-input"  placeholder="请填写联系方式">
            </label>
            <div class="prompt">
                <span class="edge"><s class="fill"></s></span>
                <span class="prompt-text">请填写联系方式</span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-label site">
                <span class="form-text">通讯地址：</span>
                <input class="site form-input address" type="text"  placeholder="请填写详细地址">
            </label>
            <div class="prompt">
                <span class="edge"><s class="fill"></s></span>
                <span class="prompt-text">请填写详细地址</span>
            </div>
            <dl class="m-select" id="AreaSelector">
                <dt></dt>
                <dd class="region" style="height:210px;z-index: 999;top: 40px;">
                    <input type="hidden" name="" value="">
                    <ul class="tab">
                    </ul>
                    <div class="tab-con clearfix"> </div>
                </dd>
            </dl>
        </div>
        <div class="form-group">
            <label class="form-label">
                <span class="form-text">单位名称：</span><input class="unit form-input" placeholder="请填写单位名称">
            </label>
            <div class="prompt">
                <span class="edge"><s class="fill"></s></span>
                <span class="prompt-text">请填写单位名称</span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-label">
                <span class="form-text">电子邮箱：</span><input class="email form-input" placeholder="请填写电子邮箱">
            </label>
            <div class="prompt">
                <span class="edge"><s class="fill"></s></span>
                <span class="prompt-text">请填写电子邮箱</span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-label">
                <span class="form-text">上传文件：</span>
                <a class="form-file" href="">上传附件
                    <input class="form-input" type="file" onChange="uploadFile()" id="uploads">
                </a>
                <span class="file-name">未选择任何文件</span>
            </label>
            <div class="prompt file-prompt">
                <span class="edge"><s class="fill"></s></span>
                <span class="prompt-text">请上传附件</span>
            </div>
            <div class="file-hint">(请将上传文稿和上传图片压缩成rar格式上传)</div>
        </div>
        <div class="btn-group">
            <button  onClick="submitFn()" type="button" class="btn color-white bgc-blue">提交</button>
        </div>
    </form>
    <div class="popup-succeed">
        <img class="succeed-img" src="/images/successful.png" alt="">
        <div class="succeed-content">提交成功</div>
        <div class="succeed-btns">
            <a class="btn bgc-gray" href="javascript:void(0)">返回上一页</a>
            <a class="btn"  href="/">返回首页</a>
        </div>
    </div>
    <script src="/javascripts/Selector.js"></script>
    <script type="text/javascript">
    	var __FILE__ = null;
	    function uploadFile(){
	    	if(!$('#uploads')[0].files.length) return false;
	    	var file = new FormData();
	    	file.append('upload',$('#uploads')[0].files[0]);
	    	$.ajax({
	    		url:'/uploads',
	    		method:'POST',
	    		data:file,
	    		processData:false,
	    		contentType:false,
	    		success:function(res){
	    			__FILE__ = res.datas.id;
	    			$('.file-name').text(res.datas.name);
	    		}
	    	})
	    }
	    function subDoc(){
	    	if(!__FILE__) return false;
            console.log(1);
	    	$.ajax({
	    		url:'/docs',
	    		method:'POST',
	    		data:{
	    			title:$('.theme').val(),
	    			user:$('.user').val(),
                    city:$('#AreaSelector dt').text(),
	    			contact:$('.contact').val(),
	    			address:$('.address').val(),
                    unit:$('.unit').val(),
	    			email:$('.email').val(),
	    			file:__FILE__
	    		},
	    		success:function(res){
	    			console.log(res);
	    		}
	    	})
	    }

        //地区联动 三级
        new SelectorJS.area.init('#AreaSelector','101010100', false);
    </script>
</div>
