<% include sideBar %>
<div class="footer bgc-jf color-white">
    <div class="copyright tac">
        广东省结核病控制中心（技术支持：<a class="immortalshealth" href="http://www.immortalshealth.com">医睦科技</a>）
    </div>
</div>
<!--end:footer-->
<!-- <script type="text/javascript" src="https://cdn.bootcss.com/jquery/1.9.1/jquery.js"></script> -->
<script src="/javascripts/unslider-min.js" type="text/javascript"></script>
<script src="/javascripts/index.js" type="text/javascript"></script>
<script>
    $(function() {
        var slider=$(".banner").unslider({autoplay: true,arrows: false});
        $('.prev').click(function() {
            slider.unslider('prev');
        });
        $('.next').click(function() {
            slider.unslider('next');
        });
        $(window).resize(function () {
            if($(".banner").width()>=1920){
                $(".banner").find("ul li").css({
                    backgroundSize:"100%"
                })
            }
        })
        $(window).resize();
        $(window).scroll(function() {
            if($(document).scrollTop() != 0){
                $(".sidebar").find(".icon_upTop").css({
                    display:"block"
                })
            }else{
                $(".sidebar").find(".icon_upTop").css({
                    display:"none"
                })
            }
        })
    })
</script>
<script type='text/javascript'>
    (function(m, ei, q, i, a, j, s) {
        m[i] = m[i] || function() {
                    (m[i].a = m[i].a || []).push(arguments)
                };
        j = ei.createElement(q),
                s = ei.getElementsByTagName(q)[0];
        j.async = true;
        j.charset = 'UTF-8';
        j.src = '//static.meiqia.com/dist/meiqia.js';
        s.parentNode.insertBefore(j, s);
    })(window, document, 'script', '_MEIQIA');
    _MEIQIA('entId', 56637);
</script>
</body>
</html>