<div class="main-rt-content list img-list">
    <% postList.forEach(function(item){%>
        <a class="item" href="javascript:void(0)">
            <div class="item-lf-img lf">
                <img class="item-img" src="<%= item.imgUrl%>" alt="">
            </div>
            <div class="item-rt lf">
                <h3 class="item-rt-title"><%= item.title%></h3>
                <p class="item-rt-p">
                    <span class="item-rt-type">简介：</span>
                    <%= item.discription%>
                </p>
            </div>
        </a>
    <%})%>
</div>