<script src="https://cdn.bootcss.com/echarts/3.5.0/echarts.min.js"></script>
<script src="/javascripts/guangdong.js"></script>
<div id="main" style="width:800px;height:800px;z-index:1;position:absolute;top: -20px; left: 50px"></div>
<script>
    var myChart = echarts.init(document.getElementById('main'));
    var option = {
        series : [
            {
                name: '广东地图',
                type: 'map',
                mapType: '广东',
                selectedMode : 'single',
                itemStyle:{
                    normal:{
                        label:{show:true},
                        areaColor:"#9fd2f5",
                        borderColor:"#49b1fa",
                        borderWidth:"1"
                    },
                    emphasis:{
                        label:{
                            show:true,
                            textStyle: {
                                color: '#fff',
                                fontSize: 15
                            }
                        },
                        areaColor:"#6BBFF7",
                        borderColor:"#3098dd",
                        borderWidth:"1",
                        color: "#fff",
                        shadowBlur: 20,
                        shadowColor: 'rgba(0, 0, 0, 1)'
                    }
                },
                data:[
                    {name: '广州市', itemStyle: {normal: {color: '#BCE8F9'}}},
                    {name: '潮州市', itemStyle: {normal: {color: '#6EB5EE'}}},
                    {name: '汕头市', itemStyle: {normal: {color: '#5DAAEB'}}},
                    {name: '梅州市', itemStyle: {normal: {color: '#9ED4F5'}}},
                    {name: '揭阳市', itemStyle: {normal: {color: '#C3ECFB'}}},
                    {name: '汕尾市', itemStyle: {normal: {color: '#BCE8F9'}}},
                    {name: '河源市', itemStyle: {normal: {color: '#74B9EF'}}},
                    {name: '惠州市', itemStyle: {normal: {color: '#4FA1E9'}}},
                    {name: '东莞市', itemStyle: {normal: {color: '#8BC8F0'}}},
                    {name: '深圳市', itemStyle: {normal: {color: '#8BC8F0'}}},
                    {name: '中山市', itemStyle: {normal: {color: '#BAE6F9'}}},
                    {name: '珠海市', itemStyle: {normal: {color: '#C6EEFB'}}},
                    {name: '佛山市', itemStyle: {normal: {color: '#8CC9F2'}}},
                    {name: '江门市', itemStyle: {normal: {color: '#BCE8F9'}}},
                    {name: '云浮市', itemStyle: {normal: {color: '#A6D9F6'}}},
                    {name: '阳江市', itemStyle: {normal: {color: '#81C2F1'}}},
                    {name: '茂名市', itemStyle: {normal: {color: '#C3ECFB'}}},
                    {name: '湛江市', itemStyle: {normal: {color: '#BEE9FA'}}},
                    {name: '肇庆市', itemStyle: {normal: {color: '#8BC8F0'}}},
                    {name: '清远市', itemStyle: {normal: {color: '#BAE6F9'}}},
                    {name: '韶关市', itemStyle: {normal: {color: '#C2EBFA'}}}
                ]
            }
        ]
    };
    myChart.on("click", function (param){
       console.log(param)
       $.get('/netWorkArticleId?place='+param.name,function(result){
       		console.log(result);
       		window.location.href= "/jkcj/58e44143e67f6303b969c8ef?pid="+result._id;
       })
        // window.location.href= "healthNetworkContent.html";
    })
    myChart.setOption(option);
</script>