<%if(postList.length){%>
<div class="pagination">
    <a <%if(page.page>=1){%> href="?page=1"  <%}else{%> class="itemReadOnly" <%}%>>
        首页
    </a>
    <a <%if(page.page>1){%> href="?page=<%= page.page-1%>" <%}else{%> class="itemReadOnly"<%}%>>
        &lt;上一页
    </a>

    <% for(let i=1;i< page.total/page.size;i++){ %>
            <a class="item<% %>" href="?page=<%= i %>"><%= i %></a>
    <% } %>
    <a <%if(page.page < page.total){%> href="?page=<%= page.total%>" <%}else{%> class="itemReadOnly" <%}%>>下一页&gt;</a>
</div>
<%}%>