<div class="registered">
	<div class="main-rt-content">
	   <div class="registered-wx-bg">
	       <img class="registered-wx" src="/images/registered_wx.jpg" alt="">
	       <h3 class="registered-wx-title">结核病控制中心预约挂号</h3>
	   </div>
	   <div class="registered-title color-jf">我院近期已开通微信预约挂号，欢迎使用。</div>
	   <div class="preorder-process">
	       <img src="/images/process.jpg" alt="">
	   </div>
	</div>
</div>