<div class="main-rt-content health">
	<div class="download">
        志愿者信息登记表
        <a class="icon-download" href="/files/proposer.doc">下载</a>
    </div>
    <div class="file-box">
        上传登记表：
        <span class="file-btn">
            上传表格
            <input class="file-input" accept="application/msword" onChange="upload()" type="file">
        </span>
        <span class="file-name">未选择任何文件</span>
    </div>
    <script type="text/javascript">
    	__FILE__ = null; 
    	function upload(){
    		__FILE__ = $('.file-input').val(); 
    		if(!__FILE__) return false;
    		var file = new FormData();
    		file.append('upload',$('.file-input')[0].files[0]);
    		$.ajax({
	    		url:'/uploads',
	    		method:'POST',
	    		data:file,
	    		processData:false,
	    		contentType:false,
	    		success:function(res){
	    			$('.file-name').text(res.datas.name).attr('disabled');
	    			$.ajax({
	    				url:'/proposer',
	    				method:'POST',
	    				data:{
	    					file:res.datas.id
	    				},
	    				success:function(res){
	    					if(res.status == 1){
	    						alert(res.message);
	    					}
	    				}
	    			})

	    		}
	    	})

    	} 
    </script>
</div>