<ul class="sidebar">
    <li  class="sidebar-item">
        <a href="javascript:void(0)" class="icon_wx">
            <div class="popup-box">
                <div class="popup">
                    <img class="wx-jfs" src="/images/wx_jfs.png" alt="">
                    结控微信公众号
                    <span><s></s></span>
                </div>
            </div>
        </a>
    </li>
    <li  class="sidebar-item">
        <a href="javascript:void(0)" class="icon_phone"></a>
    </li>
    <li  class="sidebar-item">
        <a href="javascript:scroll(0,0)" class="icon_upTop"></a>
    </li>
</ul>
<!--end:sidebar-->