<ul class="sidebar">
    <li  class="sidebar-item">
        <a href="javascript:void(0)" class="icon_wx">
            <div class="popup-box">
                <div class="popup">
                    <img class="wx-jfs" src="/images/wx_jfs.png" alt="">
                    结控微信公众号
                    <span><s></s></span>
                </div>
            </div>
        </a>
    </li>
    <li  class="sidebar-item">
        <a href="javascript:void(0)" class="icon_phone"></a>
        <div class="popup-box">
            <div class="popup phone">
                <div class="popup-text">
                    <div  class="phoneNum">
                        接诊电话
                        <div class="blue">38906222-8315</div>
                    </div>
                    <div class="workTime">
                        门诊上班时间
                        <div class="blue">
                            周一至周五<br>
                            上午8:00-12:00<br>
                            下午14:00-17:00<br>
                        </div>
                    </div>
                </div>
                <span><s></s></span>
            </div>
        </div>
    </li>
    <li  class="sidebar-item">
        <a href="javascript:scroll(0,0)" class="icon_upTop"></a>
    </li>
</ul>
<!--end:sidebar-->