<script src="https://cdn.bootcss.com/echarts/3.5.0/echarts.min.js"></script>
<div class="statistics-title">广东省投稿信息统计</div>
<div id="main" style="width:100%;height:400px"></div>
<script>
    var myChart = echarts.init(document.getElementById('main'));
    $.get('/total/doc',function(res){
        if(res.status == 1){
            console.log(res.datas.city)
            option = {
                tooltip : {
                    trigger: 'axis'
                },
                grid: {
                    left: '8%',
                    right: '8%',
                    bottom: '0',
                    containLabel: true
                },
                toolbox: {
                    show : true,
                    feature : {
                        mark : {show: true},
                        dataView : {
                            show : true,
                            title : '数据视图',
                            readOnly: true
                        },
                        magicType: {show: true, type: ['line', 'bar']},
                        restore : {show: true},
                        saveAsImage : {show: true}
                    }
                },
                xAxis : [
                    {
                        type : 'category',
                        axisLabel: {
                            interval: 0,//横轴信息全部显示
                            rotate: 360,//60度角倾斜显示,
                            formatter: function (val) {
                                return val.split("").join("\n"); //横轴信息文字竖直显示}
                            },
                            textStyle:{
                                color:"#666", //刻度颜色
                                fontSize:14  //刻度大小,
                            }
                        },
                        data : res.datas.city
                    }

                ],
                yAxis : [
                    {
                        type : 'value'
                    }
                ],
                series : [
                    {
                        name:'数量',
                        type:'bar',
                        data: res.datas.values,
                        barWidth: 15,
                        itemStyle: {
                            normal: {
                                color: "#6BBFF7",
                                barBorderRadius: 10
                            },
                            emphasis: {
                                color: "#3098dd"
                            }
                        },
                        markPoint : {
                            data : (()=> {
                                    var arr=[];
                                    $.each(res.datas.city, function(i,s){
                                        arr.push({name : s , xAxis: i, yAxis: res.datas.values[i]})
                                    });
                                    return arr;
                                })()
                        }
                    }
                ]
            };
            myChart.setOption(option);
        }
    })
</script>