<div class="visits">
    <div class="main-rt-content">
       <div class="outpatient">
           门诊科室：
           <select>
               <option value="">全部</option>
           </select>
       </div>
       <div class="main-rt-content-tab">
            <div class="tabs">
                <a class="active" href="javascript:void(0)">星期一</a>
                <a href="javascript:void(0)">星期二</a>
                <a href="javascript:void(0)">星期三</a>
                <a href="javascript:void(0)">星期四</a>
                <a href="javascript:void(0)">星期五</a>
                <a href="javascript:void(0)">星期六</a>
                <a class="tab-last" href="javascript:void(0)">星期日</a>
            </div>
           <div class="wrap">
               <table class="table">
                   <thead>
                   <tr>
                       <th class="th-width">科室</th>
                       <th class="th-width">医师</th>
                       <th>职称</th>
                   </tr>
                   </thead>
                   <tbody>
                   <tr>
                       <td>呼吸科</td>
                       <td>马志明</td>
                       <td>广东省结核病控制中心门诊部医师</td>
                   </tr>
                   <tr>
                       <td>呼吸科</td>
                       <td>马志明</td>
                       <td>广东省结核病控制中心门诊部医师</td>
                   </tr>
                   <tr>
                       <td>呼吸科</td>
                       <td>马志明</td>
                       <td>广东省结核病控制中心门诊部医师</td>
                   </tr>
                   <tr>
                       <td>呼吸科</td>
                       <td>马志明</td>
                       <td>广东省结核病控制中心门诊部医师</td>
                   </tr>
                   <tr>
                       <td>呼吸科</td>
                       <td>马志明</td>
                       <td>广东省结核病控制中心门诊部医师</td>
                   </tr>
                   <tr>
                       <td>呼吸科</td>
                       <td>马志明</td>
                       <td>广东省结核病控制中心门诊部医师</td>
                   </tr>
                   <tr>
                       <td>呼吸科</td>
                       <td>马志明</td>
                       <td>广东省结核病控制中心门诊部医师</td>
                   </tr>
                   <tr>
                       <td>呼吸科</td>
                       <td>马志明</td>
                       <td>广东省结核病控制中心门诊部医师</td>
                   </tr>
                   <tr>
                       <td>呼吸科</td>
                       <td>马志明</td>
                       <td>广东省结核病控制中心门诊部医师</td>
                   </tr>
                   <tr>
                       <td>呼吸科</td>
                       <td>马志明</td>
                       <td>广东省结核病控制中心门诊部医师</td>
                   </tr>
                   <tr>
                       <td>呼吸科</td>
                       <td>马志明</td>
                       <td>广东省结核病控制中心门诊部医师</td>
                   </tr>
                   <tr>
                       <td>呼吸科</td>
                       <td>马志明</td>
                       <td>广东省结核病控制中心门诊部医师</td>
                   </tr>
                   <tr>
                       <td>呼吸科</td>
                       <td>马志明</td>
                       <td>广东省结核病控制中心门诊部医师</td>
                   </tr>
                   <tr>
                       <td>呼吸科</td>
                       <td>马志明</td>
                       <td>广东省结核病控制中心门诊部医师</td>
                   </tr>
                   <tr>
                       <td>呼吸科</td>
                       <td>马志明</td>
                       <td>广东省结核病控制中心门诊部医师</td>
                   </tr>
                   </tbody>
               </table>
           </div>
       </div>
    </div>
</div>