<div class="visits">
    <div class="main-rt-content">
       <div class="outpatient">
           门诊科室：
           <select class="deptInfo">
               <!--<option value="">全部</option>-->
           </select>
       </div>
       <div class="main-rt-content-tab">
            <div class="tabs">
                <a class="active" href="javascript:void(0)">星期一</a>
                <a href="javascript:void(0)">星期二</a>
                <a href="javascript:void(0)">星期三</a>
                <a href="javascript:void(0)">星期四</a>
                <a href="javascript:void(0)">星期五</a>
                <a href="javascript:void(0)">星期六</a>
                <a class="tab-last" href="javascript:void(0)">星期日</a>
            </div>
           <div class="wrap">
           </div>
       </div>
    </div>
</div>
<script>
  function timestamp(time) {
        var timestamp = new Date(time);
        return timestamp.toLocaleDateString().replace(/\//g, "-");
    }
    function getDay(){
        $(".visits .tabs a").siblings().removeClass("active");
        if(new Date().getDay()-1 < 0){
            $(".visits .tabs a").last().addClass("active");
            return false;
        }
        $(".visits .tabs a").eq(new Date().getDay()-1).addClass("active")
        getDeptInfo();
    }
    $(".visits .tabs a").click(function () {
        if ($(this).hasClass("active")) return false;
        $(this).addClass("active").siblings().removeClass("active");
        var now=new Date(),time=new Date();
        time.setDate(now.getDate()-now.getDay()+1+$(this).index());
        time=time.getFullYear() + "-" + (time.getMonth()+1) + "-" + time.getDate();
        $(".visits .wrap .tab-content").hide().eq($(this).index()).show();
        getRegInfo('/getRegInfo?time='+time+'&&id='+$(".deptInfo").val())
    });
    $(".deptInfo").change(function(){
        var now=new Date(),time=new Date();
        time.setDate(now.getDate()-now.getDay()+1+$(".visits .tabs a.active").index());
        time=time.getFullYear() + "-" + (time.getMonth()+1) + "-" + time.getDate();
        getRegInfo('/getRegInfo?time='+time+'&&id='+$(".deptInfo").val())
    })
  function getDeptInfo(){
      $.ajax({
          url:'/getDeptInfo',
          method: 'GET',
          success: function (res) {
            if(res.status === 1){
              var datas =toJson(parseXML(res.datas.string._))
              var deptInfo="";
              if(typeof datas.res.deptInfo == "object"){
                    deptInfo+='<option value='+datas.res.deptInfo.deptId+'>'+datas.res.deptInfo.deptName+'</option>'
              }else{
                  $.each(datas.res.deptInfo, function (i,item) {
                      deptInfo+='<option value='+item.deptId+'>'+item.deptName+'</option>'
                  });
              }
             }
          }
      })
  }
    function getRegInfo(url){
        $.ajax({
            url: url,
            method: 'GET',
            success: function (res) {
                if(res.status === 1){
                    var datas =toJson(parseXML(res.datas.string._))
                    var regInfo="";
                    console.log(datas)
                   if(typeof datas.res.ErrorCode != "undefined" && datas.res.ErrorCode ==14){
                        console.log(datas.res.resultDesc)
                         regInfo+=('<img  src="/images/unlogin.png" class="unlogin">');
                   }else{
                       if(typeof datas.res.regInfo == "object"){
                           regInfo+='<table class="table"> <thead> <tr> <th class="th-width">科室</th> <th class="th-width">医师</th> <th>职称</th> </tr> </thead> <tbody>'
                           regInfo+='<tr><td>'+$('.deptInfo option:selected').text()+'</td> <td>'+datas.res.regInfo.doctorName+'</td> <td>'+datas.res.regInfo.doctorTitle+'</td> </tr>'
                           regInfo+='</tbody></table>'
                       }else{
                           regInfo+='<table class="table"> <thead> <tr> <th class="th-width">科室</th> <th class="th-width">医师</th> <th>职称</th> </tr> </thead> <tbody>'
                           $.each(datas.res.regInfo, function(i,item) {
                               regInfo+='<tr><td>'+$('.deptInfo option:selected').text()+'</td> <td>'+item.doctorName+'</td> <td>'+item.doctorTitle+'</td> </tr>'
                           });
                           regInfo+='</tbody></table>'
                       }
                   }
                    $(".wrap").html(regInfo);
                }
            }
        })
    }
    getDay()
</script>
